{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Phone-B&B{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur Phone-B&B !</h1>
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Phone-B&B</h1>
            <p class="lead text-muted mb-0">Vous changez de téléphone au grès des modes ? Envie de renouveler votre téléphone
            aussi souvent que vous le voulez ? Marre des intermédiaires ? Vous êtes au bon endroit, nous sommes spécialisés dans
            la revente de téléphone entre particulier et ainsi vous garantir les meilleurs prix !</p>
        </div>
    </section>
</div>
{% endblock %}
