{% extends 'base.html.twig' %}

{% block title %}Vous n'avez pas le droit d'accéder à cette page{% endblock %}

{% block body %}

    <div class="container mb-5">
        <h1 class="mt-5">Êtes vous perdu ?!</h1>
        <p>Vous tentez d'accéder à une page pour laquelle vous n'avez pas de droit
            d'accès, vous pouvez retourner à l'accueil...</p>
        <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
    </div>

{% endblock %}